.getstarted h1 {
    font-size: 2.25em;
    font-weight: bold;       
    
}

.getstarted h3 {
    font-size: 1.5em;
}

.getstarted { 
margin-left: 2rem;
margin-top: 1.25rem; 
}

.getstarted h5 {
    font-size: 1.5rem;
    margin-bottom: 1rem;
}

.getstarted button {
    color: #6272a4;
}